# Env files - NE JAMAIS committer !
.env
.env.local
.env.*.local

# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
build/
.next/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
